@use '../abstracts';
@use '../base/helpers' as *;

  .process {
    @extend .section;
    background-color: abstracts.$color-gray-light;

    @include abstracts.for-width(3) {
      padding-bottom: 80px;
    }

    @include abstracts.for-width(6) {
      padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 40px;
      }
    
    &__description {
        @extend .section__description;
      }

    &__content {
        max-width: abstracts.$container-primary;
        margin-top: 50px;

        @include abstracts.for-width(1) {  
            width: calc(100% - 20px);
        }
    }
    

  }
  

  
